.upperNav {
  justify-content: space-between;
  position: sticky;
  background: #1f1f1f;
  align-items: center;
  height: 48px;
}

.upperNav > div {
  height: 17px;
  font-size: 14px;
  word-wrap: wrap;
}

.upperNav svg {
  margin-right: 5px;
  transform: translate(0px, 4px);
}

.lowerNav {
  height: 88px;
  background: #ffffff;
  box-shadow: 0px 8px 21px rgba(0, 0, 0, 0.16);
}

.lowerNav > button {
  size: 24px;
}

.nav_container {
  margin: 0px auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.navLogo {
  font-family: Playfair Display;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  color: #1c1c1c;
  margin: auto;
}

.main {
  /* margin-top: -10px; */
  /* width: 100%; */
}
